* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    background: linear-gradient(90deg, #355492, #0099c0, #3dd5a8);

    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}
