.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);

    padding: 0.6dvh;
    gap: 0.3dvh;
    border-radius: 0.6dvh;
    background-color: #01085980;
}

.grid > div {
    --cell-size: min(4.5dvh, 7.5dvw);
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: 0.3dvh;
    background-color: #7e96dd33;
}
