.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2dvh;
    margin-top: 1dvh;
}

.info p {
    font-size: 30px;
    color: #f5deb3;
}

.info button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    color: #f5deb3;
    background: #01085980;
    transition: 0.3s;
}

.info button:hover {
    cursor: pointer;
    scale: 1.02;
}

.small-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(4, auto);

    padding: 0.4dvh;
    gap: 0.1dvh;
    border-radius: 0.6dvh;
    background-color: #01085980;
}

.small-grid > div {
    --cell-size: min(2.5dvh, 4.5dvw);
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: 0.3dvh;
    background-color: #7e96dd33;
}

@media (orientation: landscape) {
    .info {
        flex-direction: column;
        margin-top: 0px;
        margin-left: 1dvh;
    }
}
