.menu {
    display: flex;
    flex-direction: row;
    gap: 2dvh;
    margin-bottom: 1dvh;
}

.menu a {
    display: flex;
    flex-direction: row;
    gap: 1dvh;
    font-size: 20px;
    padding: 5px 10px;
    background: #01085980;
    border-radius: 10px;
    text-decoration: none;
    color: #f5deb3;
    transition: 0.4s;
    justify-content: center;
}

.menu a:hover {
    cursor: pointer;
    scale: 1.02;
}

@media (orientation: landscape) {
    .menu {
        flex-direction: column;
        margin-bottom: 0px;
        margin-right: 1dvh;
    }
}
