.I {
    background-color: #6be1ec !important;
}

.J {
    background-color: #5eb0f3 !important;
}

.L {
    background-color: #f2c35b !important;
}

.S {
    background-color: #7be17b !important;
}

.Z {
    background-color: #de5c6b !important;
}

.O {
    background-color: #f7e562 !important;
}

.T {
    background-color: #b276f3 !important;
}

.grid > .ghost {
    background-color: #ffffff33;
}

.grid > .sad {
    background-color: #f2c35b;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.grid > .hide {
    animation: hide 0.5s;
}

.I,
.J,
.L,
.S,
.Z,
.O,
.T,
.grid > .ghost,
.grid > .sad {
    box-shadow: inset 2px 2px 2px #ffffff33, inset -2px -2px 2px #01085933 !important;
}

@keyframes hide {
    0% {
        transform: scale(0.8) rotate(30deg);
    }

    45% {
        transform: scale(0.8) rotate(-30deg);
    }

    90% {
        transform: scale(1) rotate(0);
    }
}
